
<div id="music">

  <div *ngIf="!addNewEnabled">

    <div class="row">

      <div class="col-sm-3"></div>

      <div class="col-sm-9">

        <div class="form-group">
          <select class="form-control form-control-sm" id="exampleFormControlSelect1" [(ngModel)]="selectedMusic" (change)="selectMusicEvent()" name="">
            <option [ngValue]=null ></option>
            <option *ngFor="let m of existingMusic" [ngValue]="m">{{m.fullName}}</option>
          </select>
        </div>

      </div>

    </div>


  </div>

  <div class="row">

    <div class="col-sm-3"></div>

    <div class="col-sm-9">

      <input style="margin: 20px 0px" type="checkbox" (click)="checkboxEvent()"> add new item

    </div>


  </div>



  <div class="row">

    <div class="col-sm-3"></div>

    <div class="col-sm-9">

      <div *ngIf="addNewEnabled" style="margin-bottom: 50px;">

        <form [formGroup]="musicForm" >

          <div>
            <input id="music-title" type="text" [(ngModel)]="music.title" placeholder="music title" formControlName="titleControl" (keyup)="doValidate(); doSubmit()">
            <input id="music-year" type="text" [(ngModel)]="music.year" placeholder="music year" formControlName="yearControl" (keyup)="doValidate(); doSubmit()">
          </div>

        </form>

        <div *ngIf="titleControl.invalid && titleControl.dirty"
             class="alert alert-danger" style="color: red;">

          <div *ngIf="titleControl.errors.required">
            Title is required.
          </div>
          <div *ngIf="titleControl.errors.minlength">
            Name must be at least 4 characters long.
          </div>
        </div>

        <div *ngIf="yearControl.invalid && yearControl.dirty"
             class="alert alert-danger" style="color: red;">

          <div *ngIf="yearControl.errors.required">
            Year is required.
          </div>
          <div *ngIf="yearControl.errors.minlength">
            Year must be 4 characters long.
          </div>
          <div *ngIf="yearControl.errors.maxlength">
            Year must be 4 characters long.
          </div>

        </div>

      </div>

    </div>

  </div>


</div>
